# ===============================
# Python cache
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ===============================
# Virtual environment
# ===============================
venv/
env/

# ===============================
# PyInstaller build folders
# ===============================
/dist/
/build/
/main.dist/
/main.build/
/main.onefile-build/

# ===============================
# PyInstaller spec + exe
# ===============================
*.spec
*.exe

# ===============================
# Windows junk files
# ===============================
Thumbs.db
Desktop.ini

# ===============================
# Ignore scripts
# ===============================
*.bat

# ===============================
# Ignore JSON files
# ===============================
*.json

# ===============================
# Optional noise
# ===============================
*.pdf
*.xlsx
*.zip
*.log

# ===============================
# IDE settings (optional)
# ===============================
.vscode/
.idea/